
body .pic{
    max-width: 200px;
    position: relative;
    right: 30px;
    display: block;
    align-self: center;
}
footer{
    background-color: black;
    color: aliceblue;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    
}